body {
	font-size: 16px;
	background-size: 12px;
	background: black;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.375em;
}

h3 {
	font-size: 1.375em;
}

h5 {
	font-size: 0.875em;
}

p {
	font-size: 1em;
}

a.btn {
	padding: 0.5em 1.75em 0.75em;
	font-size: 0.875em;
}

a.link {
	padding: 0 0.5em;
	font-size: 0.875em;
}

nav {
	padding: 1em 2em;
}

.menu {
	display: flex;
	align-items: center;
	z-index: 1;
}

#btn-menu {
	width: 1.5em;
    height: 1.5em;
	background: url(../images/menu.svg);
}

#btn-close {
	width: 1.5em;
    height: 1.5em;
	background: url(../images/close.svg);
	display: none;
	transition: 2s cubic-bezier(0.47, 0, 0.75, 0.72);
	z-index: 2;
}

.right-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	transition: 0.4s ease-in;
	opacity: 0;
}

.right-nav .link{
	font-size: 1.25em;
	padding: 0.5em;
	color: #212121;	
}

#btn-menu:hover ~ .right-nav {
	top: 0;
	opacity: 1;
	height: 100vh;
	z-index: 1;
}

section {
	min-width: 80%;
}

.proj-container {
	margin: initial;
}

.proj-box {
	padding: 2em;
}

.proj-img {
	margin: 0;
	max-width: 100%;
	min-width: 0;
	margin-bottom: 1em;
}

.proj-info {
	margin-top: 1em;
	max-width: inherit;
}

.proj-z19 {
	background-size: contain;
}

.btn img {
	padding-top: initial;
	width: 0.8em;
}

.skil-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skil-tool {
	grid-template-columns: repeat(2, 0 1fr);
	grid-column-gap: 1.5em;
}

.skil-dsgn {
	grid-template-columns: 1.5em 1fr;
}

#topScroll {
    text-align: center;
    left: 2em;
	box-shadow: 0 4px 8px rgba(105,45,183,.24);
}

.proj-hero {
	flex-direction: column;
	height: auto;
	width: auto;
	max-width: unset;
}

.proj-hero .case-info {
	width: 100%;
}