body {
	font-size: 16px;
	background-size: 12px;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.375em;
}

h3 {
	font-size: 1.375em;
}

h5 {
	font-size: 0.875em;
}

p {
	font-size: 1em;
}

a.btn {
	padding: 0.5em 1.75em 0.75em;
	font-size: 0.875em;
}

a.link {
	padding: 0 0.5em;
	font-size: 0.875em;
}

.cta {
	position: absolute;
	right: 2em;
	box-shadow: 0 4px 8px rgba(105,45,183,.24);
}

nav {
	padding: 1em 2em;
}

nav .link {
	display: none;
}

.right-nav {
	padding-top: 0.75em;
}

section {
	min-width: 80%;
}

#projects {
	min-width: 80%;
}

/*.proj-container {
	width: 100%;
	min-width: 80%;
    display: inline-flex;
    justify-content: flex-start;
	overflow-x: scroll;
	padding-left: 6rem;
	padding-right: 8rem;
}*/

.proj-box {
	margin-bottom: 2em;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 4rem;
}

.proj-img {
	margin: 0;
	width: 100%;
	min-width: 0;
	margin-bottom: 1rem;
}

.proj-info {
	max-width: inherit;
}

.skil-tool {
	grid-template-columns: repeat(2, 1.5em 1fr);
}

.skil-dsgn {
	grid-template-columns: 1.5em 1fr;
}

.social {
	flex-direction: column;
    align-items: center;
}

.social .link {
	margin-bottom: 0.75em;
}

#top {
    text-align: center;
    left: 2em;
	box-shadow: 0 4px 8px rgba(105,45,183,.24);
}