/* Fonts import */
@font-face {
	font-family: 'Graphik';
	font-weight: 500;
	src: url('../fonts/Graphik-Regular.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	font-weight: 400;
	src: url('../fonts/Graphik-Light.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	font-weight: 700;
	src: url('../fonts/Graphik-Semibold.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	font-weight: 800;
	src: url('../fonts/Graphik-Bold.otf');
	font-display: swap;
}

/* ---------- */
body {
	margin: 0;
	font-size: 20px;
	font-family: 'Graphik', Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

h1 {
	margin: 0;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.25;
	color: #212121;
}

h2 {
	margin: 1.25rem auto;
	font-size: 1.4em;
	font-weight: 800;
	color: #212121;
}

h3 {
	margin: 0;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.125;
	color: #212121;
}

h5 {
	margin: 2px 0;
	font-size: 0.9em;
	font-weight: 500;
	color: #616161;
	text-transform: uppercase;
}

p {
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
}

span {
	color: #692DB7;
	text-shadow: 0 2px 0 rgba(105, 45, 183, 0.16);
	transition: 0.4s ease-in;
}

span:hover {
	text-shadow: 0 0 0 rgba(105, 45, 183, 0.16);
}

a span {
	font-size: 1.125em;
}

a {
	color: #616161;
	font-size: 0.9em;
	text-decoration: none;
}

a.btn {
	margin-top: 2em;
	font-weight: 500;
	padding: 0.5rem 2rem 0.75rem;
	border-radius: 4px;
	color: #FFF;
	background-color: #19181F;
	box-shadow: inset 0 0 0 #692db7, 0 4px 8px rgba(0, 0, 0, 0.4);
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	transition: 0.4s ease-in;
}

a.btn:hover {
	box-shadow: inset 0 -48px 0 #692db7, 0 4px 12px rgba(105, 45, 183, 0.4);
}

a.link {
	padding: 1rem;
	font-weight: 500;
}

a.link:hover {
	color: #692DB7;
	transition: 0.5s ease-in-out;
}

body>div {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2P0Vmuy3Xqr7jADAcBISAFMflQh3pAiOngAXYMEC6JkPMQAAAAASUVORK5CYII=);
	background-size: 16px;
	animation: fadein 2s ease-in-out;
}

#preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.loader {
	width: 6em;
	border-radius: 0.5em;
	animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
	0% {
		opacity: 0;
		scale: 0.75;
		filter: grayscale(80%);
	}
	25% {
		opacity: 1;
		scale: 1;
		filter: grayscale(0%);
	}	
	80% {
		opacity: 1;
		scale: 1;
		filter: grayscale(0%);
		box-shadow: 0px 12px 24px rgba(105, 45, 183, 0.64)
	}
	100% {
		opacity: 0;
		scale: 0.75;
		filter: grayscale(80%);
	}
}

#container {
	display: none;
	background-image: linear-gradient(to bottom, rgba(250,250,250,0), rgba(250,250,250,0.8));
	animation: fadein 0.8s ease-in;
}

@keyframes fadein {
	0%	 {opacity: 0};
	100% {opacity: 1};
}

.cta {
	padding: 1rem;
	position: fixed;
	bottom: 2rem;
	right: 4rem;
	border-radius: 50%;
	background-color: rgba(250,250,250,0.6);
	box-shadow: inset 0 0 0 #692db7, 0 4px 8px rgba(105,45,183,.12);
	transition: 0.5s ease-in;
}

.cta:hover {
	background-color: #FFF;
	box-shadow: inset 0 -48px 0 #692db7, 0 4px 12px rgba(105,45,183,.24);
}

nav {
	padding: 1rem 5rem;
	border-top: 8px solid #692DB7;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left-nav {
	z-index: 2;
}

.right-nav {
	padding-top: 0.5rem;
}

.r-logo {
	transition: 0.4s ease;
}

.r-logo:hover {
	box-shadow: 0px 4px 8px rgba(105, 45, 183, 0.64), inset 0px -2px 0px rgba(0, 0, 0, 0.32);
	cursor: crosshair;
}

nav .btn {
	margin-left: 1rem;
	margin-top: 0;
}

section {
	width: 40%;
	min-width: 480px;
	max-width: 80%;
	margin: 0 auto;
	margin-bottom: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: moveup 0.8s ease-in;
}

@keyframes moveup {
	0%	 {padding-top: 1.5em};
	100% {padding-top: 0}
}

#hero {
	margin: 0 auto;
	height: 75vh;
	justify-content: center;
	align-items: flex-start;
}

.top-bar {
	height: 8em;
	width: 4px;
	margin: auto;
	background-color: #212121;
}

.bottom-bar {
	height: 2em;
	width: 4px;
	margin: auto;
	margin-bottom: 3em;
	background-color: #212121;
}

#projects {
	width: 90%;
	max-width: max-content;
}

.proj-container {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.proj-box {
	width: 16em;
	min-height: 24em;
	height: auto;
	display: flex;
	flex-direction: column;
	align-self: stretch;
	margin: 0.75em;
	padding: 2.5em 2em;
	border-radius: 0.75em;
	box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.32);
	transition: 0.4s ease;
}

.proj-img {
	width: 16em;
	height: auto;
}

.item {
	top: 0;
	left: 0;
}

.item img {
	width: 100%;
	-webkit-transition: 0.6s ease;
	transition: 0.6s ease;
}

.proj-box:hover .item img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.proj-info {
	max-width: 20em;
	min-width: 14em;
	margin-top: 2em;
}

.proj-info>h3 {
	color: rgba(255, 255, 255, 1);
}

.proj-info>p {
	color: rgba(255, 255, 255, 0.8);
}

.proj-info>h5 {
	margin-top: 4px;
	color: rgba(255, 255, 255, 0.6);
}

.proj-is {
	background: url(../images/bg-is.svg) #00A5EC no-repeat;
	background-size: cover;
}

.proj-is:hover {
	box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.32), 0 8px 16px 0 rgba(0, 165, 236, 0.64);
}

.proj-crypto {
	background: url(../images/bg-crypto.svg) #1C3EA8 no-repeat;
	background-size: cover;
}

.proj-crypto:hover {
	box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.32), 0 8px 16px 0 rgba(28, 62, 168, 0.64);
}

.proj-ncs {
	background: url(../images/bg-ncs.svg) #F1726C no-repeat;
	background-size: cover;
}

.proj-ncs:hover {
	box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.32), 0 8px 16px 0 rgba(241, 114, 108, 0.64);
}

.proj-kyc {
	background: url(../images/bg-kyc.svg) #0F2AFF no-repeat;
	background-size: cover;
}

.proj-kyc:hover {
	box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.32), 0 8px 16px 0 rgba(15, 42, 255, 0.64);
}

.proj-roger {
	background: url(../images/bg-roger.svg) #9600E0 no-repeat;
	background-size: cover;
}

.proj-roger:hover {
	box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.32), 0 8px 16px 0 rgba(150, 0, 224, 0.64);
}

.proj-z19 {
	background: url(../images/bg-z19.svg) #030207 no-repeat;
	background-size: contain;
}

.proj-z19:hover {
	box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.32), 0 8px 16px 0 rgba(3, 2, 7, 0.64);
}

#skills {
	align-items: flex-start;
}

#skills p {
	margin: 0.25em;
}

#skills img {
	margin: 0.5em auto;
	width: 1em;
}

.skil-box {
	width: 100%;
}

.skil-tool {
	margin: 1em 0 3em;
	display: grid;
	grid-template-columns: repeat(3, 1.5em 1fr);
}

.skil-dsgn {
	margin: 1em 0;
	display: grid;
	grid-template-columns: repeat(2, 1.5em 1fr);
}

#about img {
	width: 8em;
	margin-bottom: 2rem;
	border-radius: 50%;
}

#about p {
	margin: 8px 0;
}

#contact {
	margin-bottom: 0;
	padding-bottom: 4em; 
}

#contact p {
	margin: 0 auto;
	text-align: center;
}

.social {
	display: flex;
	flex-direction: row;
	margin: 2.5em auto 3em;
}

.social .link img {
	width: 1.25em;
}

#topScroll {
	display: none;
	font-weight: 500;
	padding: 1rem;
	position: fixed;
	bottom: 2rem;
	left: 4rem;
	border-radius: 50%;
	background-color: rgba(250,250,250,0.6);
	box-shadow: 0 4px 8px rgba(105,45,183,.12);
	animation: fadein 0.8s ease-in;
}

#topScroll:hover {
	background-color: #FFF;
	transition: 0.5s ease-in;
	box-shadow: 0 4px 12px rgba(105,45,183,.24);
}