html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: "Proxima Nova";
	src: url(assets/ProximaNova-Light.otf);
	font-weight: 200;
}

@font-face {
	font-family: "Proxima Nova";
	src: url(assets/ProximaNova-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: "Proxima Nova";
	src: url(assets/ProximaNova-Semibold.otf);
	font-weight: 500;
}

@font-face {
	font-family: "Proxima Nova";
	src: url(assets/ProximaNova-Extrabold.otf);
	font-weight: 700;
}

body {
	line-height: 1;
	color: #151515;
	background-color: #F5F5F5;
	font-family: 'Proxima Nova', Verdana, sans-serif;
	font-weight: 200;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 2.25rem;
	font-weight:700;
}

h3 {
	font-weight: 500;
}

h4 {
	font-size: 1.5rem;
	font-weight: 300;
}

h5 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2rem;
}

p {
	font-weight: 300;
}

span {
	color: #FFFF00;
	font-weight: 500;
}

a:hover {
	color: #3948FF;
}

::selection {
	background-color: rgba(0,0,0,0.2);
}

body::-webkit-scrollbar {
	width: 0.5rem;
	background-color: #CCC;
}

body::-webkit-scrollbar-thumb {
	background-color: #616161;
	border-radius: 0.5rem;
}

#hero {
	margin-bottom: 8rem;
}

.hero-background {
	width: 100%;
	color: #EEE;
	background: url(../assets/profile.jpg) no-repeat top;
	background-size: 100% auto;
	border-radius: 50% / 10%;
	margin-top: -6rem;
}

.hero-container {
	width: 36%;
	padding-top: 12rem;
	padding-bottom: 10rem;
	margin-left: 12%;
}

.hero-container h4 {
	margin: 2rem auto;
	line-height: 2.25rem;
}

.hero-container a {
	color: #FFFF00;
}

.scroll {
	margin: -2.5rem auto;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	box-shadow: 0px 1rem 3rem rgba(0,0,0,0.6);
	background-color: #FFEA00;
	text-align: center;
}

.scroll img {
	width: 4rem;
	margin: 0.25rem;
	position: relative;
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes scroll {
	0% {
		top: -0.25rem;
	}
	40% {
		top : 0.5rem;
	}
	100% {
		top: -0.25rem;
	}
}

.container {
	text-align: center;
	padding: 2rem;
	margin: 1rem auto;
	width: 60%;
}

.container > h2 {
	margin-bottom: 2rem;
}

.container img {
	transition: 1s;
}

.container img:hover {
	transform: scale(1.05,1.05);
}

.box {
	margin: 1rem;
	width: 16rem;
	display: inline-block;
	text-align: center;
}

#skills img {
	width: 80%;
}

.progress {
	width: 100%;
	border-radius: 0.5rem;
	background-color: #DDD;
	margin: 0.5rem auto;
}

.progress > div {
	height: 1rem;
	background-color: #3948FF;
	border-radius: 0.5rem;
}

.skill-1 {
	width: 80%;
} 
.skill-2 {
	width: 90%;
}
.skill-3 {
	width: 80%;
}
.skill-4 {
	width: 80%;
}
.skill-5 {
	width: 70%;
}
.skill-6 {
	width: 40%;
}
.time {
	width: 90%;
}

#projects img {
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.tooltip {
	margin: 0.5rem auto;
	width: 0.25rem;
	height: 1rem;
	background-color: #3948FF;
}

.odd {
	margin-bottom: -1.5rem;
}

.even {
	margin-top: -0.25rem;
}
