*{
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	font
}
body {
	display: block;
}
#header {
	background-color: #212121;
	color: #ffffff;
	width: 100%;
	height: 50%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
#left {
	background-color: #e0e0e0;
	color: #212121;
	height: 100%;
	width: 30%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: right;
	float: left;
}
#right {
	background-color: #ffffff;
	color: #212121;
	height: 100%;
	width: 50%;
	padding-left: 5%;
	padding-right: 5%;	
	text-align: left;
	float: right;
}
#footer {
	background-color: #212121;
	width: 100%;
	height: 40px;
	clear: both;
}
#header>h1 {
	font-size: 30px;
	letter-spacing: 4px;
	border: 3px solid #ffffff;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 25px;
	padding: 2px;
	shape-margin: 20px;
}
#header>#line {
	height: 2.5px;
	background-color: #ffffff;
	width: 20%;
	margin: auto;
}
.list1 {
	letter-spacing: 1px;
}
.list1>p:nth-child(even) {
	margin-top: -20px;
}
.list1>h3:nth-child(even) {
	margin-top: -20px;
}
.list3 {
	line-height: 40%;
}